# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.log
logs/
*.log
debug.log
error.log
pm2.log
pm2.pid
pids
*.pid
*.seed
*.pid.lock

# Database
*.sqlite
*.sqlite3
*.db
*.db-journal
dump.rdb
*.sql
*.puml

# Cache & build
.cache/
dist/
build/
tmp/
out/
coverage/
.nyc_output/
.next/
.nuxt/
.vscode/




.vercel
